<aside onclick="aside_open(this)">
    <div id="aside_nav">
        <div class="nav_opt">
            <div class="title_side"></div>
            <div id="aside_title">Menu Rápido</div>
            <div class="title_side">
                <div id="close_aside_btn"><i class="fa-solid fa-xmark"></i></div>
            </div>
        </div>
        <a href="index.php" class="nav_opt">
            <div><i class="fa-solid fa-house"></i></div>
            <div>Home</div>
        </a>
        <a href="users.php" class="nav_opt">
            <div><i class="fa-solid fa-users"></i></div>
            <div>Usuários</div>
        </a>
    </div>
    <div id="aside_opt">
        <a href="" id="config_btn" class="nav_opt">
            <div><i class="fa-solid fa-gear"></i></div>
            <div>Configurações</div>
        </a>
    </div>
</aside>