:root {
    --white-background: #d0d0d0;
    --white-text: #e6e6e6;
    --shadow-color: #2D3033;
    --light-button: #466580;
    --dark-button: #3D4A55;
}
#users_list {
    width: 100%;
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
}
main {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.user {
    height: 175px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../../uploads/estevan.png);
    border: 2px solid rgb(70, 101, 128);
    border-radius: 5px;
    filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.5));
    cursor: pointer;
    transition: all 0.25s ease;
}
.user:hover {
    z-index: 2;
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 5px rgb(0,0,0));
    box-shadow: 1px 1px 5px rgb(0,0,0);
}
.user_name {
    width: 100%;
    padding: 5px;
    font-size: 10pt;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    filter: drop-shadow(0px -5px 5px rgba(0,0,0,0.5));
    background-color: rgb(70, 101, 128);
    overflow: hidden;
}
.user_name p {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#delete_screen {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    position: fixed;
    padding: 10px 20px;
    opacity: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border-radius: 5px;
    color: white;
    filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.5));
    background-color: rgb(70, 101, 128);
}
@keyframes delete_screen_open {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes delete_screen_close {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
#delete_screen>* {
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#screen_navigate {
    gap: 0px 20px;
}
#delete_screen>*:nth-child(1) {
    font-size: 11pt;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
#screen_navigate>* {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(97, 139, 175);
    transition: all 0.25s ease;
}
#cancel_btn:hover {
    filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.5));
    background-color: rgb(255, 80, 80);
}
#cancel_btn:active {
    background-color: rgb(251, 119, 119);
}
#confirm_btn:hover {
    filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.5));
    background-color: rgb(68, 211, 68);
}
#confirm_btn:active {
    background-color: rgb(115, 245, 115);
}
#user_popup {
    top: 0px;
    left: 0px;
    z-index: 3;
    position: fixed;
    width: 200px;
    height: 225px;
    padding: 5px 10px;
    opacity: 0;
    display: none;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: column;
    border-radius: 5px;
    color: white;
    filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.5));
    backdrop-filter: blur(5px);
    background-color: rgba(70, 101, 128, 0.8);
}
@keyframes popup_open {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes popup_close {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
#user_data {
    width: 180px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
    gap: 10px 0px;
    overflow: hidden;
    font-size: 10.5pt;
}
#user_data>* {
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#user_data>*:nth-child(4) {
    font-size: 10pt;
    align-self: center;
    font-weight: bold;
}
#data_nav {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#delete_btn {
    padding: 5px 10px;
    font-size: 12pt;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(86, 124, 158);
    transition: all 0.25s ease;
}
#delete_btn:hover {
    filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.5));
    background-color: rgb(181, 52, 52);
}
#delete_btn:active {
    background-color: rgb(205, 68, 68);
}
#loading_screen {
    grid-column-start: 1;
    grid-column-end: 6;
    height: 300px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 10px 0px;
    color: white;
    font-weight: bold;
    font-size: 13pt;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.screen_icon {
    width: 10%;
}
#loading_screen>h3 {
    animation: loading_animate 1s infinite;
}
@keyframes loading_animate {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
