<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes System | lembre mais fácilmente</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="includes/css/common.css">
    <link rel="stylesheet" href="includes/css/menu.css">
    <link rel="stylesheet" href="includes/css/noteForm.css">
    <link rel="icon" href="../uploads/logo_no_text.png">
</head>
<body onscroll="scroll_event(this)">
    <div id="page_background">
        <menu>
            <div id="logo">
                <a href="index.php">
                    <img src="../uploads/logo_text1.png">
                </a>
            </div>
            <nav>
                <div onclick="aside_open(this)" id="aside_btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div onclick="profile_dropdown(this)" id="profile_btn" data-open="0">
                    <div id="profile_img">
                        <img src="../uploads/default_profile.png" alt="">
                    </div>
                    <div id="profile_desc">
                        <p>Seu perfil</p>
                        <div><i class="fa-solid fa-caret-down"></i></div>
                    </div>
                </div>
            </nav>
        </menu>
        <section id="note_form">
            <div id="page_title">
                <div>
                    <a href="" id="return_btn">
                        <i class="fa-solid fa-arrow-left"></i>
                        <h3>Voltar</h3>
                    </a>
                </div>
                <h2>Crie sua nota</h2>
                <div></div>
            </div>
            <main>
                <form action="noteSave.php" method="post">
                    <div id="title_input" class="input_subpart">
                        <label for="title">Título</label>
                        <input type="text" id="title" name="title" onblur="title_blur(this)">
                    </div>
                    <div id="description_input" class="input_subpart">
                        <label for="description">Texto da nota</label>
                        <textarea id="description" name="description"></textarea>
                    </div>
                    <div id="note_date" class="input_subpart">
                        <div>
                            <input type="checkbox" name="remind_checkbox" id="remind_checkbox">
                            <label for="remind_checkbox" onclick="remind_date(this)">
                                <div id="toggle_switch">
                                    <div></div>
                                </div>
                                <p>Adicionar data de lembrete</p>
                            </label>
                        </div>
                        <input type="date" id="remind_date" name="remind_date">
                    </div>
                    <input type="hidden" id="id" name="id">
                    <input type="hidden" id="create_date" name="create_date">
                    <input type="hidden" id="user_id" name="user_id">
                    <div id="form_navigate">
                        <div id="delete_btn" onclick="open_delete(this)">
                            <i class="fa-solid fa-trash-can"></i>
                            <p>Apagar Nota</p>
                        </div>
                        <button type="button" id="submit_btn">Salvar</button>
                    </div>
                </form>
            </main>
        </section>
    </div>
    <section id="delete_screen">
        <div>
            <p>Deseja deletar esta nota ?</p>
        </div>
        <div id="screen_navigate">
            <div id="cancel_btn" onclick="open_delete(this)">Cancelar</div>
            <a href="noteDelete.php?id=" id="confirm_btn">Confirmar</a>
        </div>
    </section>
    <aside onclick="aside_open(this)">
        <div id="aside_nav">
            <div class="nav_opt">
                <div class="title_side"></div>
                <div id="aside_title">Menu Rápido</div>
                <div class="title_side">
                    <div id="close_aside_btn"><i class="fa-solid fa-xmark"></i></div>
                </div>
            </div>
            <a href="" class="nav_opt">
                <div><i class="fa-solid fa-house"></i></div>
                <div>Home</div>
            </a>
            <a href="" class="nav_opt">
                <div><i class="fa-solid fa-users"></i></div>
                <div>Usuários</div>
            </a>
        </div>
        <div id="aside_opt">
            <a href="" id="config_btn" class="nav_opt">
                <div><i class="fa-solid fa-gear"></i></div>
                <div>Configurações</div>
            </a>
        </div>
    </aside>
    <div id="profile_menu">
        <a href="userData.php" class="profile_nav">
            <div><i class="fa-solid fa-user"></i></div>
            <div>Detalhes</div>
        </a>
        <a href="logout.php" class="profile_nav">
            <div><i class="fa-solid fa-door-open"></i></div>
            <div>Logout</div>
        </a>
    </div>
    <script src="includes/js/noteForm.js"></script>
    <script src="includes/js/menu.js"></script>
    <script src="includes/js/scroll_event.js"></script>
    <script src="includes/js/noteForm.js"></script>
</body>
</html>