<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes System | lembre mais fácilmente</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="includes/css/common.css">
    <link rel="stylesheet" href="includes/css/menu.css">
    <link rel="stylesheet" href="includes/css/userDetail.css">
    <link rel="icon" href="../uploads/logo_no_text.png">
</head>
<body onscroll="scroll_event(this)">
    <div id="page_background">
        <menu>
            <div id="logo">
                <a href="index.php">
                    <img src="../uploads/logo_text1.png">
                </a>
            </div>
            <nav>
                <div onclick="aside_open(this)" id="aside_btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div onclick="profile_dropdown(this)" id="profile_btn" data-open="0">
                    <div id="profile_img">
                        <img src="../uploads/default_profile.png" alt="">
                    </div>
                    <div id="profile_desc">
                        <p>Seu perfil</p>
                        <div><i class="fa-solid fa-caret-down"></i></div>
                    </div>
                </div>
            </nav>
        </menu>
        <section id="user_detail">
            <div id="page_title">
                <div>
                    <a href="index.php" id="return_btn">
                        <i class="fa-solid fa-arrow-left"></i>
                        <h3>Voltar</h3>
                    </a>
                </div>
                <h2>Sua conta</h2>
                <div></div>
            </div>
            <main>
            </main>
        </section>
    </div>
    <aside onclick="aside_open(this)">
        <div id="aside_nav">
            <div class="nav_opt">
                <div class="title_side"></div>
                <div id="aside_title">Menu Rápido</div>
                <div class="title_side">
                    <div id="close_aside_btn"><i class="fa-solid fa-xmark"></i></div>
                </div>
            </div>
            <a href="" class="nav_opt">
                <div><i class="fa-solid fa-house"></i></div>
                <div>Home</div>
            </a>
            <a href="" class="nav_opt">
                <div><i class="fa-solid fa-users"></i></div>
                <div>Usuários</div>
            </a>
        </div>
        <div id="aside_opt">
            <a href="" id="config_btn" class="nav_opt">
                <div><i class="fa-solid fa-gear"></i></div>
                <div>Configurações</div>
            </a>
        </div>
    </aside>
    <div id="profile_menu">
        <a href="userData.php" class="profile_nav">
            <div><i class="fa-solid fa-user"></i></div>
            <div>Detalhes</div>
        </a>
        <a href="logout.php" class="profile_nav">
            <div><i class="fa-solid fa-door-open"></i></div>
            <div>Logout</div>
        </a>
    </div>
    <script src="includes/js/userDetail.js"></script>
    <script src="includes/js/menu.js"></script>
    <script src="includes/js/scroll_event.js"></script>
</body>
</html>